@font-face {
font-family: 'Aleo';
font-style: normal;
font-weight: 400;
src: url(https://static.canva.com/static/webfonts/Aleo-Regular.woff) format('woff');
}
@font-face {
font-family: 'Aleo';
font-style: normal;
font-weight: 700;
src: url(https://static.canva.com/static/webfonts/Aleo-Bold.woff) format('woff');
}
@font-face {
font-family: 'Aleo';
font-style: italic;
font-weight: 400;
src: url(https://static.canva.com/static/webfonts/Aleo-Italic.woff) format('woff');
}
@font-face {
font-family: 'Aleo';
font-style: italic;
font-weight: 700;
src: url(https://static.canva.com/static/webfonts/Aleo-BoldItalic.woff) format('woff');
}
